@import './Panaderia-Heiland/components/variables';
@import './Panaderia-Heiland/components/header';
@import './Panaderia-Heiland/components/main';
@import './Panaderia-Heiland/components/footer';




.grid__titulo {
    color: black;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.galeria__titulo {
    font-size: 30px;
    color: rgb(14, 13, 13);
    /* -webkit-text-stroke: 1px rgb(8, 8, 8); */
    text-shadow: 0.1em 0.2em 0.3em rgb(21, 255, 0);
    /* background: rgba(40, 163, 235, 0.411); */
    position: absolute;
    position: center;
    letter-spacing: 4px;

    &__ {

    }
}