$bgfondo: rgba(190, 158, 158, 0.753);
$colornav: rgb(107, 7, 7);
$textshadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
$fontnav: 25px;


// extend

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid rgba(15, 11, 11, 0.966);
    border-radius: 1rem;
}


.galeriatitulo {
    font-size: 30px;
    color: rgb(226, 160, 160);
    // text-shadow: 0.1em 0.1em 0.1em rgb(17, 17, 4);
    text-shadow: $textshadow;
    position: absolute;
    position: center;
    letter-spacing: 4px;
}

.tituloimg {
    color: black;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

// mixin

@mixin subtitulo($colorsub) {
    color: $colorsub;
    font-size: 25px;
    font-style: italic;
    font-family: 'Dela Gothic One', cursive;
    text-align: left;
    padding: 1rem;
    text-shadow: $textshadow;
    letter-spacing: 5px;
}

@mixin titulo($fontsize) {
    color: rgba(90, 83, 83, 0.671);
    // -webkit-text-stroke: 1px rgb(228, 21, 21);
    text-shadow: 2px 2px 3px rgb(230, 11, 146);
    font-size: $fontsize;
    font-weight: bold;
    font-style: italic;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

// maps

$nav: (
    navcolor: #8c49a0,
    navindex: #a652df,
);

@each $name, $color in $nav {
    .#{$name} {
       text-shadow: 0.1em 0.2em 0.3em $color;
    



    }

}